body {
    position: relative;
    background: rgb(181, 175, 255);
    background: linear-gradient(45deg, rgba(181, 175, 255, 1) 0%, rgba(255, 198, 179, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

main {
    display: flex;
    min-height: 100vh;
}

.register-explanation {
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    max-width: 610px;
    margin: auto;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2rem;
    visibility: hidden;
}

.register-explanation h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--bright-blue);
    margin-bottom: 20px;
}

.register-explanation p {
    font-size: 1em;
    color: var(--dark-blue);
    line-height: 1.8em;
}

.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    perspective: 1000px;
    z-index: 1;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s ease-out;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-face.card-face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.auth-title {
    color: var(--bright-blue);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form {
    font-family: 'Hind Madurai', sans-serif;
    background: rgba(255, 255, 255, 0.375);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2rem;
    width: 100%;
    visibility: hidden;
}

/* modale avatars */
/* Style du fond sombre */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style du contenu de la modale */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Bouton de fermeture de la modale */
.close {
    position: absolute;
    right: 8px;
    top: 0;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--pink);
    cursor: pointer;
}

/* Styles des options d'avatar */
.avatar-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.avatar-option {
    position: relative;
}

.avatar-option input[type="radio"] {
    display: none;
}

.avatar-option input[type="radio"]:checked+label {
    transform: scale(1.3);
}

.avatar-option label {
    display: block;
}

.avatar-option img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.avatar-option img:hover {
    transform: scale(1.1);
}

.input-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-preview {
    margin-bottom: 10px;
    width: 80px;
}

#openAvatarModal {
    font-family: 'Hind Madurai', sans-serif;
    padding: 8px 16px;
    font-size: 0.9em;
    background-color: #00000029;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#openAvatarModal:hover {
    background-color: #00000065;
}

/* Bouton de sauvegarde de la sélection */
#saveAvatarSelection {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

#saveAvatarSelection:hover {
    background-color: #df3800;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    color: var(--white);
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(158 158 158 / 20%) 0px 30px 60px -12px inset, rgb(0 0 0 / 29%) 0px 18px 36px -18px inset;
    color: var(--white);
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field input::placeholder {
    color: #ffffff92;
    font-style: italic;
}

.input-field input:focus {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 3px #b5c9fc;
}

.error-message {
    color: var(--pink);
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
}

.input-error {
    border: 1px solid var(--pink) !important;
}

.error-icon {
    position: relative;
    color: var(--pink);
    float: right;
    margin-top: -29px;
    margin-right: 15px;
    font-size: 1em;
    z-index: 1;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
}

.submit-button input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    background-color: #FF4000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button input:hover {
    background-color: var(--pink);
}

.login-link {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
    color: var(--bright-blue);
}

.login-link a {
    color: var(--orange);
    text-decoration: none;
    font-weight: 600;
}