body {
    background: rgb(181, 175, 255);
    background: linear-gradient(45deg, rgba(181, 175, 255, 1) 0%, rgba(255, 198, 179, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    max-width: 500px;
}

.container {
    position: relative;
    z-index: 1;
}

.register-title {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.register-form {
    font-family: 'Hind Madurai', sans-serif;
    background-color: #3a456b38;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

/* modale avatars */
/* Style du fond sombre */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style du contenu de la modale */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Bouton de fermeture de la modale */
.close {
    position: absolute;
    right: 8px;
    top: 0;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--pink);
    cursor: pointer;
}

/* Styles des options d'avatar */
.avatar-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.avatar-option {
    position: relative;
}

.avatar-option input[type="radio"] {
    display: none;
}

.avatar-option input[type="radio"]:checked + label {
    transform: scale(1.3);
}

.avatar-option label {
    display: block;
}

.avatar-option img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.input-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-preview {
    margin-bottom: 10px;
    width: 80px;
}

#openAvatarModal {
    font-family: 'Hind Madurai', sans-serif;
    padding: 8px 16px;
    font-size: 0.9em;
    background-color: #00000029;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Bouton de sauvegarde de la sélection */
#saveAvatarSelection {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

#saveAvatarSelection:hover {
    background-color: #45a049;
}


.input-field {
    margin-bottom: 15px;
}

.input-field label {
    color: var(--white);
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: var(--white);
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field input::placeholder {
    color: #ffffff65;
    font-style: italic;
}

.input-field input:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 3px #b5c9fc;
}

.error-message {
    color: var(--pink);
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
}

.input-error {
    border: 1px solid var(--pink) !important;
}

.error-icon {
    position: relative;
    color: var(--pink);
    float: right;
    margin-top: -29px;
    margin-right: 15px;
    font-size: 1em;
    z-index: 1;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
}

.submit-button input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color: #FF4000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button input:hover {
    background-color: #df3800;
}

.login-link {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
    color: var(--white);
}

.login-link a {
    color: var(--orange);
    text-decoration: none;
    font-weight: 600;
}