{% extends "/base.twig" %}

{% block title %}À propos
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/aboutFaq.css">
	<link rel="stylesheet" href="/css/headerFooter.css">
{% endblock %}

{% block header %}
	{% include "/layouts/header.twig" %}
{% endblock %}

{% block content %}
	<div id="radius-shape-1"></div>
	<div id="radius-shape-2"></div>

	<div class="content-wrap">
		<div class="content-section one">
			<h2 class="content-header">Découvrez le coût de votre projet web</h2>
			<p class="content-paragraph">Dans l'ère numérique d'aujourd'hui, une présence en ligne est cruciale pour tous les entrepreneurs. Une visibilité efficace sur le web attire de nouveaux clients, rendant ainsi indispensable la création d'un site web. Que ce soit pour un site e-commerce ou un site vitrine, votre plateforme en ligne doit répondre à des exigences spécifiques qui vont définir son coût.</p>
			<p class="content-paragraph">Le choix du prestataire pour la création de votre site web est une étape déterminante dans la budgétisation de votre projet. En optant pour un développeur indépendant, ou freelance, le budget requis pour votre projet web pourrait varier considérablement.</p>
			<p class="content-paragraph">C'est pourquoi il est essentiel d'avoir une estimation précise de ce que coûterait votre projet avec un freelance. En tenant compte d'une série de facteurs clés, notre service vous permet d'estimer le coût de votre site web professionnel en quelques clics seulement.</p>
			<p class="content-paragraph">De plus, une fois votre estimation réalisée, vous aurez la possibilité de rentrer directement en contact avec un freelance depuis votre tableau de bord.</p>
		</div>

		<div class="content-section two">
			<h2 class="content-header">Comment déterminer le coût d'un site web ?</h2>
			<p class="content-paragraph">Créer un site web professionnel est une étape cruciale pour toute entreprise cherchant à renforcer sa présence en ligne. Le coût de cette entreprise est soumis à de nombreux facteurs, qui vont du type de site web (e-commerce ou vitrine, par exemple) au choix du professionnel engagé pour le développement.</p>
			<p class="content-paragraph">Cependant, le monde du développement web est vaste et les coûts peuvent varier de manière significative en fonction du prestataire que vous choisissez. Un freelance, par exemple, peut offrir des tarifs différents d'une agence de création ou d'un constructeur de sites web automatisé.</p>
			<p class="content-paragraph">C'est ici que notre service intervient. Notre objectif est de vous aider à naviguer dans ce paysage complexe en fournissant une estimation précise du coût d'engagement d'un freelance pour votre projet. Notre approche se base sur les besoins les plus courants du marché, en utilisant notre expertise en matière de création de sites web pour couvrir tous les aspects de votre projet, du design graphique à la maintenance, en passant par le SEO et le design responsive.</p>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{% include "/layouts/footer.twig" %}
{% endblock %}

{% block scripts %}
	<script src="/js/aboutFaq.js"></script>
	<script src="/js/headerFooter.js"></script>
{% endblock %}
