{% extends "/base.twig" %}

{% block title %}Accueil
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/headerFooter.css">
{% endblock %}

{% block header %}
	{% include "/layouts/header.twig" %}
{% endblock %}

{% block content %}
	<canvas class="orb-canvas"></canvas>

	<div class="overlay-container">
		<div class="overlay-content">
			<h1 class="overlay-title">
				Bienvenue sur
				<span class="text-gradient">EstiMate</span>, votre outil d'estimation pour projets web ou mobile !
			</h1>
			<p class="overlay-description">
				EstiMate vous offre une interface simple et intuitive pour estimer le coût de développement de votre site web ou application mobile. Déterminez votre budget en quelques clics grâce à notre outil et prenez une décision éclairée pour votre projet.<br>
				<strong>Commencez dès maintenant et obtenez une estimation précise de vos besoins.</strong>
			</p>
			<div class="overlay-buttons">

				<button class="overlay-button overlay-button-transparent">
					<a href="/register">
						Démarrer l'estimation
					</a>
				</button>

				<button class="overlay-button overlay-button-colors">
					<span>Modifier les couleurs</span>
					<span class="button-emoji">🎨</span>
				</button>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% include "/layouts/footer.twig" %}
{% endblock %}

{% block scripts %}
	<script type="module" src="/js/home.js"></script>
{% endblock %}
```
