<div class="wrapper">
	<div class="popup-header">
		<i class="fa-solid fa-cookie-bite"></i>
		<h2>Consentement aux Cookies</h2>
	</div>

	<div class="data">
		<p>Ce site web utilise des cookies pour vous aider à bénéficier d'une expérience de navigation supérieure et plus pertinente sur le site. <br>
			<a href="#">En savoir plus...</a>
		</p>
	</div>

	<div class="cookie-buttons">
		<button class="cookie-button" id="acceptBtn">Accepter</button>
		<button class="cookie-button" id="declineBtn">Refuser</button>
	</div>
</div>
