{% block header %}
    <nav>
        <a href="/">
            <img src="/img/logoestimate.svg" alt="logo">
        </a>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-times" style="display: none;"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/about">À propos</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/register">Se connecter</a>
            </li>
            <li>
                <a href="/register" class="btn">Estimer mon projet</a>
            </li>
        </ul>
    </nav>
{% endblock %}

<div id="overlay-header"></div>