{% block header %}
	<nav>
		<a href="/">
			<img src="/img/logoestimate.svg" alt="logo">
		</a>
		<ul>
			<li><a href="/about">À propos</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/login" class="btn">Mon compte</a></li>
		</ul>
	</nav>
{% endblock %}